/*
 * Style sheet by Jared Allard
 *
 * License under the MIT license.
 **/

body {
  z-index:-2;
  background: url("../img/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.overlay {
  z-index:-1;
  position:fixed;
  top:0;
  bottom:0;
  right:0;
  left:0;
  height:100%;
  width:100%;
  background-repeat:repeat-y;
  background: url("../img/overlay2.png");
}

.wrapper {
  z-index:100;
  width:100% !important;
  height:auto;
}

.launch {
  height:400px;
  width:100%;
  background-color:#FFFFFF;


  background-attachment: fixed, fixed, fixed;
  background: url("../img/overlay1.png");
  background-position: left top, center center, center center;
  background-size: auto auto, cover, cover;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.launch .header {
  margin-top:100px;
  color:#FFFFFF;
}

.launch .header h1 {
  font-family: 'Lato', sans-serif;
  font-size:4em;
}

.main {
  min-height:750px;
  height:auto;
  background-color: #FFFFFF;
}

.main .img {
  position: relative;
  height:250px;
  width:250px;

  top:-125px; /* bring out of div slightly */
  margin:auto; /* center */

  /* tmp background color */
  background: url("../img/me.png");
  background-size: contain;

  /* image border */
  border: 7px solid #657070;

  /* for rounding the div to look like a circle */
  border-radius: 360px;
  -moz-border-radius: 360px;
  -webkit-border-radius: 360px;
}

.main .header {
  margin-top:-75px;
  margin-bottom:50px;

  text-align:center;

  font-family: 'Lato', sans-serif;
  font-style:italic;
  font-size:2.5em;
  color:#262a2a;
}

.main .body {
  max-width:1000px;
  width:100%;

  margin:auto;
  font-size:1.1em;

  /* font shit */
  color: #6B6B6B;
}

.main .prepend {
  padding-bottom:100px;
}

.end {
  height:300px;

  background-color: #4686A0;
  color: rgba(255, 255, 255, 0.75);
  background-attachment: fixed, fixed, fixed;
  background-image: url("../img/overlay2.png"), url("../img/overlay4.svg"),
   linear-gradient(120deg, #4361C2, #4FA49A 50%, #9DC66B 95%);
  background-position: left top, center center, center center;
  background-size: auto auto, cover, cover;
}

.end .copyright {
  padding-top:50px;
  color:#FFFFFF;

  text-align:center;

  font-family: 'Lato', sans-serif;
  font-weight: 200;
  font-size:1em;
}

.end .images {
  padding-top:110px;
  color:#FFFFFF;

  text-align:center;

  font-family: 'Lato', sans-serif;
  font-weight: 200;
  font-size:1em;
}

.end .images .fa {
  width:75px;
  color:rgba(255, 255, 255, 0.7);
  font-size:3em;
}

.end .images .fa:hover {
  color:rgba(255, 255, 255, 0.2);
}


/**
 * Mobile Device Support (mostly padding for containers)
 **/

 @media (max-width:1000px) {
   .main .body {
     padding-right: 20px;
     padding-left:20px;
   }
 }
